.error-box{
    /* border:1px solid red; */
    box-sizing: border-box;
    font-size: 0.5rem;
    margin: 0.4rem 0.4rem;
    background-color: rgb(123, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    color: rgb(71, 71, 71);
    padding:1rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
input{
    background-color: transparent;
    border-radius: 0.4rem;
    color: black;
    font-size: 1rem;
}
#sub{
    font-size: 2rem;
    color: rgb(99, 99, 99);
background-image: linear-gradient(to left, #c7a385, #a56283);
color: transparent;
font-weight: bold;
-webkit-background-clip: text;
background-clip: text;
}
h1{
    text-align: center;
}
select{
    background-color: rgb(89, 89, 91);
    padding:0.3rem;
    font-size: 1rem;
    margin:0rem 0.5rem;
}
form{
    padding:0.5rem 0rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0rem;
}

#span1{
/* color: rgb(48, 94, 219); */
font-size: 1.5rem;
background-image: linear-gradient(to left, #c7a385, #a56283);
/* ... */

/* set the color of the text to transparent */
color: transparent;

/* we need to clip the gradient background so that
so only the text bit will have the gradient background
(otherwise the entire rectangle the text is in would have it) */
-webkit-background-clip: text;
background-clip: text;
float: left;
left: 0px;
width: 100%;
}
#span1-outer{
display: block;
width: 100%;
}
#submit{
    margin-top: 1rem;
}
form>div>#innerformele{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}